html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

/* END SET UP CSS */



* {
  margin: 0;
  padding: 0;
}

body {
  font-family: ;
  background: #fde6e6;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.wrapper {
  max-width: 1200px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.App {
  text-align: center;
}

.container {
  padding: 5vw 0;
}

h1 {
  padding: 5px 10px;
  color: #6a7c39;
  font-size: 50px;
  letter-spacing: 5px;
  text-transform: uppercase;
  text-shadow: 3px 3px #f1c7c7;
}

h2 {
  font-weight: normal;
  color: #6a7c39;
}

p {
  line-height: 1.5;
  letter-spacing: 0.3px;
}

a {
  text-decoration: none;
  color: #6a7c39;
  cursor: pointer;
}

form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 300px;
  margin: 20px auto;
  padding: 10px 10px;
}

form input[type=text], 
select {
  padding: 5px;
  margin: 5px 0;
  background: #fff;
  border: none;
  border: 2px solid #ecc1cf;
  border-radius: 5px;
  flex: 1 1 500px;
}

form button[type=submit] {
  background: #de5499;
  border: none;
  padding: 8px 5px;
  border-radius: 5px;
  color: #fff;
  margin: 15px auto;
  flex: 0 1 50px;
  min-width: 100px;
  cursor: pointer;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-transform: uppercase;
}

form button[type=submit]:hover,
form button[type=submit]:focus {
  background: #df8fb7;
}

ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 15px;
}

.stickyNoteLi {
  background: #ffd19d;
  color: #3d2505;
  min-height: 230px;
  height: 100%;
  border-radius: 2px;
  box-shadow: 2px 2px 2px #ccaa82;
  flex-basis: 245px;
  text-align: left;
  padding: 25px;
  margin: 10px;
  position: relative;
}

ul button {
  border: none;
  color: #d31e1e;
  background: none;
}

ul button:hover {
  color: #f73c3c;
  cursor: pointer;
}

.stickyContainer {
  display: flex;
  flex-direction: column;
}

.removeBtn {
  font-weight: bold;
  font-size: 20px;
  border: none;
  color: #d88200;
  background: none;
  position: absolute;
  top: 10px;
  right: 20px;
}

span {
  font-weight: bold;
  color: #2089a3;
  background: #10978518;
  text-shadow: 1px 1px #ffffffce;
  letter-spacing: 1px;
  display: inline-block;
  margin-top: 5px;
}

.pin {
  width: 20px;
  height: 20px;
  background: #dd4949;
  box-shadow: 2px 2px 4px #755b53;
  border-bottom: 3px solid #963131;
  border-radius: 50%;
  position: absolute;
  top: -5px;
  left: 47.5%;
}

footer {
  padding: 10px 0;
  background: #000;
  color: #fff;
}
